* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #71DFE7;
    color: black;
    font-size: 25px;
    margin-bottom: 56px;
    font-weight: bold;
}

header nav li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    top: 100%;
    font-size: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about .container .linha {
    width: 100%;
    border-bottom: 2px solid #009DAE;
    margin-bottom: 16px;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #009DAE;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    max-width: 600px;
    height: auto;
}

.container-flex {
    display: flex;
    justify-content: baseline;
}

.produto h2 {
    margin-bottom: 16px;
    margin-left: 250px;
}

.produto .linha {
    width: 72%;
    border-bottom: 2px solid #009DAE;
    margin-bottom: 16px;
    margin-left: 200px;
}

.produtos {
    flex-wrap: wrap;
}

.produtos li {
    list-style: none;
    max-width: 25%;
    margin-bottom: 50px;
    padding: 20px;
}

.produtos li img {
    max-width: 100%;
}

.produtos li h3 {
    margin: 16px 0;
}

#contact {
    display: flex;
}

.midias {
    display: flexbox;
    flex-direction: row;
    width: 500px;
    margin-right: 30px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

header .search,
.container .send {
    background-color: #C2FFF9;
    color: black;
}

.container .buy {
    background-color: #FFE652;
    color: black;
}


@media screen and (max-width: 480px) {
    .produtos {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .produtos li {
        max-width: 200px;
        height: auto;
    }


    .produtos li img {
        max-width: 100px;
        height: auto;
    }

    .produto h2 {
        margin-left: 30px;
    }

    .produto .linha {
        margin-left: 40px;
    }


    .about .container {
        display: grid;
        grid-template-columns: 1fr !important;
    }

    .store-front {
        max-width: 200px !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .produtos {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }

    .produtos li {
        max-width: 250px;
        height: auto;
    }


    .produtos li img {
        max-width: 200px;
        height: auto;
    }


    .about .container {
        display: grid;
        grid-template-columns: 1fr !important;
    }


    .store-front {
        max-width: 200px !important;
    }
}