* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #71DFE7;
    color: black;
    font-size: 25px;
    margin-bottom: 56px;
    font-weight: bold;
}

header nav li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    top: 100%;
    font-size: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

section .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about .container .linha {
    width: 100%;
    border-bottom: 2px solid #009DAE;
    margin-bottom: 16px;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #009DAE;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    max-width: 600px;
    height: auto;
}

.container-flex {
    display: flex;
    justify-content: baseline;
}

.produto h2 {
    margin-bottom: 16px;
    margin-left: 250px;
}

.produto .linha {
    width: 72%;
    border-bottom: 2px solid #009DAE;
    margin-bottom: 16px;
    margin-left: 200px;
}

.produtos {
    flex-wrap: wrap;
}

.produtos li {
    list-style: none;
    max-width: 25%;
    margin-bottom: 50px;
    padding: 20px;
}

.produtos li img {
    max-width: 100%;
}

.produtos li h3 {
    margin: 16px 0;
}

#contact {
    display: flex;
}

.midias {
    display: flexbox;
    flex-direction: row;
    width: 500px;
    margin-right: 30px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

header .search,
.container .send {
    background-color: #C2FFF9;
    color: black;
}

.container .buy {
    background-color: #FFE652;
    color: black;
}


@media screen and (max-width: 780px) and (orientation: landscape) {
    header {
        background-color: #769FCD;
        color: black;
        font-size: 10px;
        margin-bottom: 0;
        font-weight: bold;
        max-width: 32.6%;
    }

    header nav li {
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        top: 90%;
        font-size: 16px;
        margin-left: 35px;
    }


    header h1 {
        font-size: 30px;
        text-align: center;
    }

    body {
        flex-direction: column;
        grid-template-columns: repeat(2, 32.6%);
        background-color: #B9D7EA;
    }

    .about {
        background-color: #B9D7EA;
    }

    .conteudo,
    header {
        display: grid;
        grid-template-columns: repeat(3, 32.6%);
        column-gap: 1%;
        float: left;
    }

    .container {
        max-width: 90%;
    }

    .store-front {
        margin-right: 16px;
        max-width: 220px;
        height: auto;
    }

    .about h2 {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .about p {
        font-size: 12px;
    }

    .about .container {
        display: inline-block;
        position: relative;
        padding: 10px;
        justify-content: space-between;
        text-align: justify;
    }

    .produto {
        position: relative;
        top: -110px;
    }

    .produto li {
        background-color: #769FCD;
        margin: 0;
    }


    .produto h2,
    .produto .linha {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: auto;
        text-align: center;
    }

    .produtos {
        display: block;
        display: grid;
        grid-template-columns: repeat(2, 70%);
    }

    .produtos li {
        max-width: 200px;
        height: auto;
    }

    .produtos li img {
        max-width: 150px;
        height: auto;
    }

    .produtos h3 {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;

    }
}

@media screen and (min-width: 781px) and (max-width: 1023px) and (orientation: landscape) {
    header {
        background-color: #769FCD;
        color: black;
        font-size: 20px;
        margin-bottom: 0;
        font-weight: bold;
        max-width: 49%;
    }

    header nav li {
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        top: 90%;
        font-size: 20px;
        margin-left: 35px;
    }

    header h1 {
        font-size: 40px;
    }

    .container .menu {
        text-align: center;
        margin-left: 130px;
    }

    body {
        flex-direction: column;
        grid-template-columns: repeat(2, 49%);
        background-color: #B9D7EA;
    }

    .about {
        background-color: #B9D7EA;
    }

    .conteudo,
    header {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
        float: left;
    }


    .container {
        max-width: 90%;
    }

    .store-front {
        margin-right: 16px;
        max-width: 430px;
        height: auto;
    }

    .about h2 {
        font-size: 30px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .about p {
        font-size: 16px;
    }

    .about .container {
        display: inline-block;
        position: relative;
        padding: 10px;
        justify-content: space-between;
        text-align: justify;
    }

    .produto {
        position: relative;
        top: -110px;
    }

    .produto li {
        background-color: #769FCD;
        margin: 0;
        margin-left: -10px;
    }

    .produto h2,
    .produto .linha {
        font-size: 30px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: auto;
        text-align: center;
    }

    .produtos li {
        max-width: 250px;
        height: auto;
    }

    .produtos li img {
        max-width: 200px;
        height: auto;
    }

    .produtos {
        display: block;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .produtos h3 {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;

    }
}